@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar {
  scrollbar-height: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}

.no-scrollbar::-webkit-scrollbar {
  height: 0;
}

.iconpark-icon {
  width: 20px;
  height: 20px;
}

.no-border {
  border: none !important;
  box-shadow: none !important;
}

.ant-picker-body {
  padding: 0 12px !important;
}

.ant-picker-cell {
  padding: 4px 0 !important;
}

.ant-spin .ant-spin-dot-item {
  background-color: #43a49b !important;
}

.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #43a49b !important;
}

.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #43a49b !important;
}

.screen-modal {
  inset: 0;
  height: 100%;
  margin: 0 !important;
  max-width: unset !important;
}
.screen-modal .ant-modal-content {
  height: 100%;
}

.ant-tabs-ink-bar {
  background: #43a49b !important;
}
